<div class="col">
    <div class="card">
        <img class="card-img-top" src={{product.imgurl}} alt="Title" style="width: auto; height: 15rem;" />
        <hr>
        <div class="card-body">
            {{product.price | currency: 'KZT'}}
            <h4 class="card-title">{{product.title}}</h4>
            <p class="card-text">{{product.description}}</p>
            <button class="btn btn-danger" (click)='removeProduct()'>Delete</button>
            <button
                type="button"
                class="btn btn-primary"
                (click)="increamentLike()"
            >
                Like {{product.countLikes}}
            </button>
            
        </div>
    </div>
</div>