<h2>Products</h2>

<div *ngFor="let product of products" class="item">

    <h3>
      <a
        [title]="product.name + ' details'"
        [routerLink]="['/products', product.id]">
        {{ product.name }}
      </a>
    </h3>
    <img [src]="product.imgurl" alt="photo">
    <p *ngIf="product.description">
        Description: {{ product.description }}
    </p>
    <p>
      Rating: {{product.rating}} / 5
    </p>
    <div class="container-fluid py-3">
      
        <share-buttons theme="modern-dark"
          [include]="['copy', 'telegram', 'whatsapp']"
          [showIcon]="true"
          [showText]="true"
          [url]= "product.url"
          description="Angular Share Buttons"
          twitterAccount="rodrigokamada"
          class="pt-5">
        </share-buttons>
      </div>
    <button type="button" (click)="share()">
        Share
    </button>
    <app-product-alerts
        [product]="product"
        (notify)="onNotify()">
    </app-product-alerts>
</div>