<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Store</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home<span class="sr-only"></span></a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <label
                class="btn btn-info" *ngFor="let item of categories"
              >
                <input
                  type="checkbox"
                  [(ngModel)]="item.checked" 
                  (click)="result()"
                  class="me-2"
                  name=""
                  id="3"
                  autocomplete="off"
                />
                {{item.title}}
              </label>
          </div>
        </li>
      </ul>
    </div>
</nav>


<div class="container">
  <app-product-list [categories]="arrayTitle()"></app-product-list>
</div>
