


<div class="row">
    <div *ngFor="let company of companies" class="col-4">
        <div class="card mx-4 my-4">
            <div class="card-body">
                <h3 class="card-title">{{company.name}}</h3>
                <p class="card-text">{{company.description}}</p>
                <p class="card-text">{{company.city}} - {{company.address}}</p>
            </div>
            <button
                class="btn btn-primary mx-4 my-4"
                [routerLink]="[company.id]"
            >
                Get vacancy
            </button>
            <button
                class="btn btn-primary"
                (click)="deleteCompany(company.id)"
            >
                Delete
            </button>
        </div>
    </div>
</div>
